<meta property="og:site_name" content="{{ site.title }}">

{% if site.social.twitter %}
<meta name="twitter:site" content="{{ site.social.twitter }}">
{% endif %}

{% if page.socialmedia.image %}
<meta property="og:image" content="{{ page.socialmedia.image }}" />
<meta name="twitter:image" content="{{ page.socialmedia.image }}">
<meta name="twitter:image:src" content="{{ page.socialmedia.image }}">
<meta name="twitter:card" content="{{ page.socialmedia.type }}">
{% endif %}

{% if page.socialmedia.title %}
<meta name="twitter:title" content="{{ page.socialmedia.title }}">
<meta name="og:title" content="{{ page.socialmedia.title }}">
<meta name="twitter:text:title" content="{{ page.socialmedia.title }}">
{% endif %}
