<meta property="og:site_name" content="{ site.title }">
<meta property="og:image" content="{ page.socialmedia.image }" />
<meta name="twitter:card" content="{ page.socialmedia.type }">
<meta name="twitter:site" content="@HazmatDrone">
<meta name="twitter:image" content="{ page.socialmedia.image }">
<meta name="twitter:image:src" content="{ page.socialmedia.image }">
<meta name="twitter:title" content="{ page.socialmedia.title }">
<meta name="og:title" content="{ page.socialmedia.title }">
<meta name="twitter:text:title" content="{ page.socialmedia.title }">
