$dark1: #1a1a1a !default;
$dark2: #222222 !default; // Gear
$dark3: #282828 !default; // Latex
$light1: #383838 !default;
$light2: #595959 !default; // Gear Secondary
$light3: #FFFFFF !default;

$blue1: #313139 !default;
$blue2: #47474F !default;

$accent1: #e4a943 !default; // Secondary
$accent2: #00c4ff !default; // Energy Accent
$accent3: #E15554 !default;

$holo: #23363AAA !default;
$holo_edge: #327379AA!default;
