$dark1: #1a1a1a !default;
$dark2: #222222 !default; // Gear
$dark3: #282828 !default; // Latex
$light1: #383838 !default;
$light2: #595959 !default; // Gear Secondary
$light3: #FFFFFF !default;

$blue1: #313139 !default;
$blue2: #47474F !default;

$accent1: #e4a943 !default; // Secondary
$accent2: #00c4ff !default; // Energy Accent
$accent3: #E15554 !default;

$holo_bg: #001418CC !default;
$holo_muted: #3B8A91 !default;
$holo_main: #6EBDC4 !default;
$holo_strong: #CCCCCC !default;



// For changing entire parts of the site at once
$bg: $blue2;
$bgshadow: $blue1;

$fg: $holo_bg;
$fgshadow: $light2;

$darktext: $dark1;
$lighttext: $light3;

$mainborder: $holo_main;


$muted_element: $holo_main;
$maintext: $holo_strong;
$strong_element: $light3;
