// Imports
@import 'fonts';
@import 'colours';
@import "rouge-github";
@import "https://unpkg.com/augmented-ui@2/augmented-ui.min.css";


// Site colours





// Body and main elements
body {
	min-width: 100px;
	max-width: 1200px;
	margin: auto; // Centers the page
	padding: 1rem; // Stops the elements from touching the edge of the screen by 1em
	color: $maintext;
	font-family: 'Quantico', sans-serif;
	background-image: url("/assets/img/site_bg.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

header, main, footer {
	padding: 2rem;
	margin: 2rem;
}





//All non-transparent items that go directly onto the background
header, main, .bubble-outer {
	//box-shadow: 5px 7px $bgshadow;
	background: $fg;

}

// Header and header content
header {
	justify-content: center;
	text-align: center;
	width: auto;
	height: auto;
}

h1 {
	// text-shadow: 3px 4px $bgshadow; // Unused because it makes the barcode ugly
	font-size: 90px;
	margin: 0;
	padding: 0;
	font-weight: normal;
}





// Main and main content

main {
	display: flex;
	flex-direction: column;

	img {
		width: 100%;
		height: auto;
		object-fit: scale-down;
	}

	ul {
		padding-left: 1.5em;
	}
	li {
		margin-bottom: 0.2em;
	}
	::marker {
		color: $maintext;
	}
	h2, b, strong {
		color: $strong_element;
	}

	i, em {
		color: $muted_element;
	}

	u {
		color:$accent3;
	}
	h6 {
		// text-shadow: 3px 4px $bgshadow; // Unused because it makes the barcode ugly
		font-size: 1em;
		font-weight: normal;
		font-style: italic;
		color: $muted_element;
		text-align: center;
		margin: 0;
	}
}

.lighttext {
	color: $lighttext;
}

.darktext {
	color: $darktext;
	a:link{
	  color: $maintext;
	}
	a:visited{
	  color: $maintext;
	}
	a:active {
	  color: $maintext;
	}
	a:hover {
	  color: $maintext;
	}
}



//code {
//	background-color: $fgshadow;
//	border-radius: 0.5em;
//	padding: 0.25em;
//}

.barcode {
	font-family: 'Libre Barcode 39 Text', sans-serif;
	a {
		text-decoration: none;
	}
	a:hover {
	  text-decoration: underline;
	}
}

.colorbox {
    display: inline-block;
	border: 2px solid $mainborder;
    border-radius: 10px;
	padding: 0.05em 0.4em;
}

a:link{
  color: $accent2;
}
a:visited{
  color: $accent2;
}
a:active {
  color: $accent2;
}
a:hover {
  color: $accent1;
}

// ID Selector stuff.
.hidden {
	display: none;

}
.hidden:target {
	display: unset;
}





// Footer and footer content
footer {
	justify-content: space-between;
	margin: 0 auto;
	width: 35%;
	padding: 0;
}

.bubble-container {
	position: relative;
}

.bubble-outer {
	align-items: center;
	display: flex;
	font-size: 5em;
	height: 1em;
	justify-content: center;
	width: 1em;

	.bubble-inner {
		font-size: 0.75em;
		height: 1em;
		mask-repeat: no-repeat !important;
		width: 1em;
		fill: $maintext;
	}
}

.bubble-mini {
	bottom: -0.25em;
	color: $maintext !important;
	font-size: 1.25em;
	padding: 0.1em;
	position: absolute;
	right: -0.5em;
	text-decoration: none;
	width: unset;
}





// Things that change based on whether the site is horizontal or vertiacal

.horz {
	flex-wrap: wrap;
}
.vert {
	flex-direction: column;
}

.horz, .vert, .horz-d-vert-m {
	display: flex;
}

// Like a hr but it can become vertical when necessary
.flex-rule {
	border-width: 0 1px 0 0;
	border-color: $muted_element;
	border-style: solid;
	margin: 2em 0;
}

// Hide certain elements on mobile and show them on desktop
.desktop-only {
	display: unset;
}
.mobile-only {
	display: none;
}

.raw-only {
	display:none;
}
// For thinner screens e.g. mobile
@media only screen and (max-width: 800px) {

	// Makes content flex vertically instead of horizontally
	.horz-d-vert-m {
		flex-direction: column;
	}

	// Turns flex-rules from vertical dividers into horizontal dividers
	.flex-rule {
		border-width: 0 0 1px 0;
		margin: 0 2em;
	}

	// Saves precious horizontal space by reducing padding for the main element
	main{
		padding: 1rem;

		// Saves precious horizontal space by making the bullet points indent less
		ul {
			padding-left: 1em;
		}
		h2 {
			text-align: center;
		}
	}

	// Shrinks the site title so it doesn't wrap on thin screens
	h1 {
		font-size: 50px;
	}

	// Hide certain elements on desktop and show them on mobile
	.desktop-only {
		display: none;
	}
	.mobile-only {
		display: unset;
	}

}
