<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" href="/assets/img/favicon.png">
    {% seo %}
  </head>

  <body>
	{% include header.html %}

    <main>
      {{ content }}
	  <div class="horz-d-vert-m"><div style="padding:1em; flex: 3" >
		  {{ page.leftbox }}
	  </div><div class="flex-rule"></div><div style="padding:1em; flex: 2">
		  {{ page.rightbox }}
	  </div></div>
    </main>

    {% include footer.html %}
  </body>
</html>
